<div class="login-container">
    <h2>Logging in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
        />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message">
          Username is required.
        </div>
      </div>
  
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Password is required (min 6 characters).
        </div>
      </div>
  
      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>
  
      <button class="submit-btn" type="submit" [disabled]="loginForm.invalid">Submit</button>
    </form>

    <div class="register-link">
        <p>Don't have an account? <button (click)="goToRegistration()">Register</button></p>
    </div>
  </div>