
<html>
<title>Material You</title>
    <link rel="stylesheet" href="app.component.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<body>
  <div class="sidebar">
      <div class="menu-item active" (click)="goToHome()">
          <button class="mdc-icon-button material-icons">home</button>
          <span>Main</span>
      </div>
      <div class="menu-item" (click)="goToAddPost()">
        <button class="mdc-icon-button material-icons">
         add
        </button>
        <span>
         Add
        </span>
       </div>
      <div class="menu-item settings-button">
          <button class="mdc-icon-button material-icons">settings</button>
          <span>Settings</span>
      </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <button class="theme-switcher material-icons" (click)="toggleTheme()">brightness_6</button>
  <img class="profile-icon"  src="{{ getAvatar() || 'https://storage.googleapis.com/a1aa/image/HmCZ0sVJKMJJJ9cflYOI9VdOYYY6zH6SMRhlUKg8q6f7lR1TA.jpg'}}" alt="Profile Icon" (click)="goToProfile()" />
 
</body>
</html>